<section class='hero-container'>
  <div class='hero container is-widescreen'>
    <div>
      <div class='is-size-4'>The</div>
      <h1 class='is-size-1 hero-container__title'>Better</h1>
      <h1 class='is-size-1 hero-container__title-2'>Blog</h1>
    </div>

    <div>
      <h2 class='is-size-4'>
        Vel qui delectus odit et eum. At veritatis ea quasi labore. Nulla
        dolorem ut qui quod quidem. Illo omnis non blanditiis qui. Magnam
        aliquid eius quam dolorem
      </h2>
    </div>
  </div>
</section>