.basic-post {
  margin: 0.4rem 0 0.6rem 0;
  color: #4a4a4a;

  &__header {
    font-weight: 700;
    margin: 0.2rem 0;
  }

  &__body {
    display: flex;
  }

  &__content {
    @include truncate-text(4);
  }
}
