<nav class='global-nav__container'>
  <div class='container is-widescreen global-nav'>
    <LinkTo @route='application'>
      <h3 class='is-size-5 global-nav__title'>HOME</h3>
    </LinkTo>
  </div>
</nav>